@using Academy.Domain.Shared
@model Academy.Domain.ViewModels.User.Client.ClientUpdatePasswordViewModel

<div>
    <form asp-area="UserPanel"
          asp-controller="User"
          asp-action="ChangePasswordModal"
          asp-ajax="true"
          asp-ajax-method="Post"
          asp-ajax-validation="true"
          asp-ajax-update="#panel-content"
          asp-ajax-success="closeSmModal(); window.location.reload(); showToaster('@SuccessMessages.SuccessfullyDone',success);">
        <div class="row g-4">
            <div class="col-xxl-12 mt-2">
                <div class="dashboard__form__wraper">
                    <div class="dashboard__form__input">
                        <label asp-for="CurrentPassword" class="mb-1"></label>
                        <input asp-for="CurrentPassword" type="text"
                               placeholder="رمز عبور فعلی را وارد کنید...">
                        <validation-span asp-validation-for="CurrentPassword"/>
                    </div>
                </div>
            </div>
            <div class="col-xxl-12 mt-2">
                <div class="dashboard__form__wraper">
                    <div class="dashboard__form__input">
                        <label asp-for="NewPassword" class="mb-1"></label>
                        <input asp-for="NewPassword" type="text"
                               placeholder="رمز عبور جدید را وارد کنید...">
                        <validation-span asp-validation-for="NewPassword"/>
                    </div>
                </div>
            </div>
            <div class="col-xxl-12 mt-2">
                <div class="dashboard__form__wraper">
                    <div class="dashboard__form__input">
                        <label asp-for="ConfirmNewPassword" class="mb-1"></label>
                        <input asp-for="ConfirmNewPassword" type="text"
                               placeholder="تکرار رمز عبور جدید را وارد کنید...">
                        <validation-span asp-validation-for="ConfirmNewPassword"/>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="submit" class="btn bg-primary text-white btn-md">ذخیره</button>
        </div>
    </form>
</div>