@using Academy.Application.Extensions
@using Academy.Domain.ViewModels.User.Client
@model Academy.Domain.ViewModels.User.Client.ClientUserViewModel

<div class="container-fluid full__width__padding">
    <div class="row">
        <div class="col-xl-12">
            <div class="dashboardarea__wraper">
                <div class="dashboardarea__img">
                    <div class="dashboardarea__inner student__dashboard__inner">
                        <div class="dashboardarea__left">
                            <partial name="_UpdateUserAvatarPartial"
                                     model="new ClientUpdateUserAvatarViewModel{ AvatarImageName = Model.AvatarImageName }"/>
                            <div class="dashboardarea__left__content">
                                <h4>@Model.FullName</h4>
                                <ul>
                                    <li>
                                        @(Model.Mobile.IsNullOrEmptyOrWhiteSpace() ? Model.Email : Model.Mobile)
                                    </li>

                                    <li>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                             stroke-linecap="round" stroke-linejoin="round"
                                             class="feather feather-award">
                                            <circle cx="12" cy="8" r="7"></circle>
                                            <polyline points="8.21 13.89 7 23 12 20 17 23 15.79 13.88"></polyline>
                                        </svg>
                                        عضویت از @Model.CreatedDate.ToShamsi()
                                    </li>
                                </ul>

                            </div>
                        </div>
                        <div class="dashboardarea__right">
                            <div class="dashboardarea__right__button">
                                <a class="default__button" asp-area="UserPanel" asp-controller="User" asp-action="Update">
                                    ویرایش اطلاعات کاربری
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round" class="feather feather-arrow-left">
                                        <line x1="5" y1="12" x2="19" y2="12"></line>
                                        <polyline points="12 5 19 12 12 19"></polyline>
                                    </svg>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>