@{
    ViewData["Title"] = "صفحه اصلی";
}

<!-- herobannerarea__section__start -->
        <div class="herobannerarea herobannerarea__box">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12" data-aos="fade-up">
                        <div class="herobannerarea__content__wraper">

                            <div class="herobannerarea__title">
                                <div class="herobannerarea__small__title">
                                    <span>لورم ایپسوم</span>
                                </div>
                                <div class="herobannerarea__title__heading__2">
                                    <h2>آکادمی لورم ایپسوم</h2>
                                </div>
                            </div>

                            <div class="herobannerarea__text">
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                            </div>
                            <div class="hreobannerarea__button">
                                <a class="herobannerarea__button__1" href="index.html#">مشاهده دوره‌ها</a>
                                <a class="herobannerarea__button__2" href="index.html#"> <i class="icofont-long-arrow-left"></i>بیشتر بدانید</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12" data-aos="fade-up">
                        <div class="aboutarea__img__inner text-center">
                            @* <div class="aboutarea__img" data-tilt> *@
                                <div class="aboutarea__img d-flex align-items-center" style="min-height: 500px;" data-tilt>
                                <img loading="lazy"  class="aboutimg__1" src="/shared/img/about/about_8.png" alt="aboutimg">
                                @* <img loading="lazy"  class="aboutimg__2" src="/shared/img/about/test-logo.png" alt="aboutimg"> *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="herobannerarea__icon">
                <img loading="lazy"  class="hero__icon__1" src="/shared/img/register/register__2.png" alt="photo">
                <img loading="lazy"  class="hero__icon__2" src="/shared/img/herobanner/herobanner__6.png" alt="photo">
                <img loading="lazy"  class="hero__icon__3" src="/shared/img/herobanner/herobanner__7.png" alt="photo">
                <img loading="lazy"  class="hero__icon__4" src="/shared/img/herobanner/herobanner__7.png" alt="photo">
            </div>
        </div>
        <!-- herobannerarea__section__end-->

        <!-- brand__section__start -->
        <div class="brandarea__2">
            <div class="container">
                <div class="row" data-aos="fade-up">
                    <div class="brandarea__wraper brandarea__wraper__2">
                        <div class="brandarea__img">
                            <a href="index.html#"><img loading="lazy"  src="/shared/img/brand/brand_1.png" alt="brand"></a>
                        </div>
                        <div class="brandarea__img">
                            <a href="index.html#"><img loading="lazy"  src="/shared/img/brand/brand_2.png" alt="brand"></a>
                        </div>
                        <div class="brandarea__img">
                            <a href="index.html#"><img loading="lazy"  src="/shared/img/brand/brand_3.png" alt="brand"></a>
                        </div>
                        <div class="brandarea__img">
                            <a href="index.html#"><img loading="lazy"  src="/shared/img/brand/brand_4.png" alt="brand"></a>
                        </div>
                        <div class="brandarea__img">
                            <a href="index.html#"><img loading="lazy"  src="/shared/img/brand/brand_5.png" alt="brand"></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- brand__section__end -->

        <!-- aboutarea__2__section__start -->
        <div class="aboutarea__2 sp_top_30">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12" data-aos="fade-up">
                        <div class="about__right__wraper__2">
                            <div class="educationarea__img" data-tilt>
                                <img loading="lazy"  class="aboutarea__2__img__1" src="/shared/img/about/about_2.png" alt="education">
                                <img loading="lazy"  class="aboutarea__2__img__2" src="/shared/img/about/about_3.png" alt="education">
                                <img loading="lazy"  class="aboutarea__2__img__3" src="/shared/img/about/about_4.png" alt="education">
                                <img loading="lazy"  class="aboutarea__2__img__4" src="/shared/img/about/about_11.png" alt="education">
                            </div>
                            <div class="aboutarea__2__text">
                                <div class="aboutarea__counter">
                                    + <span class="counter">3</span>
                                </div>

                                <p>سال سابقه کاری موفق</p>


                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12" data-aos="fade-up">

                        <div class="aboutarea__content__wraper">
                            <div class="aboutarea__button">
                                <div class="default__small__button">
                                    درباره ما
                                </div>
                            </div>
                            <div class="aboutarea__headding heading__underline">
                                <h2>
                                    آموزش
                                    <span>
                                        آنلاین
                                    </span>
                                    برنامه‌نویسی
                                </h2>
                            </div>
                            <div class="aboutarea__para aboutarea__para__2">
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                                </p>
                            </div>
                            <div class="aboutarea__list__2">
                                <ul>
                                    <li>
                                        <i class="icofont-check"></i>
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                                    </li>

                                    <li>
                                        <i class="icofont-check"></i>
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                                    </li>

                                    <li>
                                        <i class="icofont-check"></i>
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                                    </li>
                                </ul>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- aboutarea__2__section__end -->

        <!-- counter__section__start -->
        <div class="counterarea sp_bottom_100 sp_top_50">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12" data-aos="fade-up">
                        <div class="counterarea__text__wraper">
                            <div class="counter__img">
                                <img loading="lazy"  src="/shared/img/counter/counter__1.png" alt="counter">
                            </div>
                            <div class="counter__content__wraper">
                                <div class="counter__number">
                                    <span class="counter">27</span>+

                                </div>
                                <p>
                                    دستاورد ارزشمند
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12" data-aos="fade-up">
                        <div class="counterarea__text__wraper">
                            <div class="counter__img">
                                <img loading="lazy"  src="/shared/img/counter/counter__2.png" alt="counter">
                            </div>
                            <div class="counter__content__wraper">
                                <div class="counter__number">
                                    <span class="counter">145</span>+

                                </div>
                                <p>
                                  دانشجوی راضی
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12" data-aos="fade-up">
                        <div class="counterarea__text__wraper">
                            <div class="counter__img">
                                <img loading="lazy"  src="/shared/img/counter/counter__3.png" alt="counter">
                            </div>
                            <div class="counter__content__wraper">
                                <div class="counter__number">
                                    <span class="counter">10</span>+
                                </div>
                                <p>
                                  استاد موفق
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12" data-aos="fade-up">
                        <div class="counterarea__text__wraper">
                            <div class="counter__img">
                                <img loading="lazy"  src="/shared/img/counter/counter__4.png" alt="counter">
                            </div>
                            <div class="counter__content__wraper">
                                <div class="counter__number">
                                    <span class="counter">30</span>+

                                </div>
                                <p>
                                  استان‌ در سراسر کشور
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- counter__section__end-->

        <!-- register__section__start-->
        <div class="registerarea sp_top_90">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12" data-aos="fade-up">
                        <div class="registerarea__wraper">
                            <div class="section__title registerarea__section__title">
                                <div class="section__title__button">
                                    <div class="default__small__button">
                                        ثبت‌نام دوره‌ها
                                    </div>
                                </div>
                                <div class="section__title__heading heading__underline">
                                    <h2>
                                        با ایجاد
                                        <span>
                                           حساب کاربری
                                        </span>
                                       بصورت رایگان به بیش از
                                        <small>
                                            10000
                                        </small>
                                       دوره آموزشی آنلاین دست پیدا کنید.
                                    </h2>
                                </div>
                            </div>
                            <div class="registerarea__content">
                                <div class="registerarea__video">
                                    <div class="video__pop__btn">
                                        <a class="video-btn" href="https://www.youtube.com/watch?v=vHdclsdkp28"> <img loading="lazy"  src="/shared/img/icon/video.png" alt=""></a>
                                    </div>
                                    <div class="registerarea__para">
                                        <p>
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                                        </p>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12" data-aos="fade-up">
                        <div class="registerarea__form">
                            <div class="registerarea__form__heading">
                                <h4>
                                    همین حالا ثبت نام کنید
                                </h4>
                            </div>
                            <form action="index.html#">
                                <input class="register__input" type="text" placeholder="نام">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <input class="register__input" type="text" placeholder="آدرس ایمیل">
                                    </div>
                                    <div class="col-xl-6">
                                        <input class="register__input" type="text" placeholder="تلفن همراه">
                                    </div>
                                </div>
                                <input class="register__input" type="text" placeholder="آدرس">
                                <textarea class="register__input textarea" name="#" id="#" cols="30" rows="10">این بخش موقتا غیرفعال میباشد</textarea>
                                <div class="registerarea__button">
                                    <a class="default__button" href="index.html#">
                                        ثبت نام
                                        <i class="icofont-long-arrow-left"></i>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            <div class="registerarea__img">
                <img loading="lazy"  class="register__1" src="/shared/img/register/register__1.png" alt="register">
                <img loading="lazy"  class="register__2" src="/shared/img/register/register__2.png" alt="register">
                <img loading="lazy"  class="register__3" src="/shared/img/register/register__3.png" alt="register">
            </div>
        </div>
        <!-- register__section__start-->

        <!-- Learning__section__start -->
        <div class="pricingarea sp_bottom_100 sp_top_90">
            <div class="container">
                <div class="row" data-aos="fade-up">
                    <div class="section__title text-center">
                        <div class="section__title__button">
                            <div class="default__small__button">
                                تعرفه اشتراک‌ها
                            </div>
                        </div>
                        <div class="section__title__heading">
                            <h2>
                             بهترین پکیج را برای آموزش
                             <br>
                             انتخاب کنید
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12" data-aos="fade-up">
                        <div class="pricingarea__content__wraper">
                            <div class="pricingarea__heading">
                                <div class="pricingarea__plan__type">
                                    <h6>
                                        رایگان
                                    </h6>
                                    <img loading="lazy"  src="/shared/img/icon/price__1.png" alt="">
                                </div>

                                <div class="pricingarea__number">
                                    <h1>
                                        0
                                        <span class="price__currency">
                                            $
                                        </span>
                                        <span class="price__durition">
                                            / ماه
                                        </span>
                                    </h1>
                                </div>
                                <p>
                                  بهترین برای شروع
                                </p>
                            </div>
                            <div class="pricingarea__list">
                                <ul>
                                    <li>
                                        <i class="icofont-check"></i>
                                       لورم ایپسوم
                                    </li>
                                    <li>
                                        <i class="icofont-check"></i>
                                        لورم ایپسوم متن ساختگی
                                    </li>
                                    <li>
                                        <i class="icofont-close close__button"></i>
                                      لورم ایپسوم
                                    </li>
                                    <li>
                                        <i class="icofont-check dark__color__2"></i>
                                        لورم ایپسوم متن ساختگی
                                    </li>
                                    <li>
                                        <i class="icofont-check"></i>
                                        لورم ایپسوم متن ساختگی
                                    </li>

                                </ul>
                            </div>
                            <div class="pricingarea__button">
                                <a class="default__button" href="index.html#">
                                    شروع کنید
                                </a>
                            </div>
                            <div class="pricingarea__text">
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12" data-aos="fade-up">
                        <div class="pricingarea__content__wraper">
                            <div class="pricingarea__heading">
                                <div class="pricingarea__plan__type">
                                    <h6>
                                        پایه
                                    </h6>
                                    <img loading="lazy"  src="/shared/img/icon/price__2.png" alt="">
                                </div>

                                <div class="pricingarea__number">
                                    <h1>
                                        29
                                        <span class="price__currency">
                                            $
                                        </span>
                                        <span class="price__durition">
                                            / ماه
                                        </span>
                                    </h1>
                                </div>
                                <p>
                                 بهترین برای کسب مهارت
                                </p>
                            </div>
                            <div class="pricingarea__list">
                                <ul>
                                    <li>
                                        <i class="icofont-check"></i>
                                        لورم ایپسوم
                                    </li>
                                    <li>
                                        <i class="icofont-check"></i>
                                        لورم ایپسوم متن ساختگی
                                    </li>
                                    <li>
                                        <i class="icofont-close close__button"></i>
                                        لورم ایپسوم
                                    </li>
                                    <li>
                                        <i class="icofont-check dark__color__2"></i>
                                        لورم ایپسوم متن ساختگی
                                    </li>
                                    <li>
                                        <i class="icofont-check"></i>
                                        لورم ایپسوم متن ساختگی
                                    </li>

                                </ul>
                            </div>
                            <div class="pricingarea__button pricingarea__button__2">
                                <a class="default__button" href="index.html#">
                                    شروع کنید
                                </a>
                            </div>
                            <div class="pricingarea__text">
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12" data-aos="fade-up">
                        <div class="pricingarea__content__wraper">
                            <div class="pricingarea__heading">
                                <div class="pricingarea__plan__type">
                                    <h6>
                                        حرفه‌ای
                                    </h6>
                                    <img loading="lazy"  src="/shared/img/icon/price__3.png" alt="">
                                </div>

                                <div class="pricingarea__number">
                                    <h1>
                                        59
                                        <span class="price__currency">
                                            $
                                        </span>
                                        <span class="price__durition">
                                            / ماه
                                        </span>
                                    </h1>
                                </div>
                                <p>
                                   بهترین برای کسب تجربه
                                </p>
                            </div>
                            <div class="pricingarea__list">
                                <ul>
                                    <li>
                                        <i class="icofont-check"></i>
                                        لورم ایپسوم
                                    </li>
                                    <li>
                                        <i class="icofont-check"></i>
                                        لورم ایپسوم متن ساختگی
                                    </li>
                                    <li>
                                        <i class="icofont-close close__button"></i>
                                        لورم ایپسوم
                                    </li>
                                    <li>
                                        <i class="icofont-check dark__color__2"></i>
                                        لورم ایپسوم متن ساختگی
                                    </li>
                                    <li>
                                        <i class="icofont-check"></i>
                                        لورم ایپسوم متن ساختگی
                                    </li>

                                </ul>
                            </div>
                            <div class="pricingarea__button">
                                <a class="default__button" href="index.html#">
                                    شروع کنید
                                </a>
                            </div>
                            <div class="pricingarea__text">
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Learning__section__end-->

        <!-- about__section__3__start -->
        <div class="aboutarea__3 testimonial__area__2 sp_bottom_90 sp_top_120">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 custom__review__grid" data-aos="fade-up">
                        <div class="section__title aboutarea__3__section__title">
                            <div class="section__title__button">
                                <div class="default__small__button">
                                    نظرات کاربران
                                </div>
                            </div>
                            <div class="section__title__heading">
                                <h2>
                                   هر آنچه که
                                   <br>
                                   درباره ما میگویند
                                </h2>
                            </div>
                        </div>

                        <div class="aboutarea__3__content">
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                            </p>
                        </div>
                        <div class="aboutarea__3__button">
                            <a class="default__button" href="index.html#">
                                بیشتر بدانید
                                <i class="icofont-long-arrow-left"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 custom__review__grid" data-aos="fade-up">
                        <div class="aboutarea__content__wraper__3">
                            <div class="aboutarea__para__3">
                                <p>
                                    “
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                                    ”
                                </p>
                                <div class="aboutarea__icon__3">
                                    <i class="icofont-quote-left"></i>
                                </div>
                            </div>
                            <div class="aboutarea__img__3">
                                <img loading="lazy"  src="/shared/img/about/about_5.png" alt="about">
                                <div class="aboutarea__img__name">
                                    <h6>
                                        آقای نامعلوم
                                    </h6>
                                    <p>
                                        برنامه نویس
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 custom__review__grid" data-aos="fade-up">
                        <div class="aboutarea__content__wraper__3">
                            <div class="aboutarea__para__3">
                                <p>
                                    “
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                                    ”
                                </p>
                                <div class="aboutarea__icon__3">
                                    <i class="icofont-quote-left"></i>
                                </div>
                            </div>
                            <div class="aboutarea__img__3">
                                <img loading="lazy"  src="/shared/img/about/about_5.png" alt="about">
                                <div class="aboutarea__img__name">
                                    <h6>
                                        آقای نامعلوم
                                    </h6>
                                    <p>
                                        برنامه نویس
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="aboutarea__img__3">
                <img loading="lazy"  class="aboutarea__3__img__1" src="/shared/img/about/about_6.png" alt="about">
                <img loading="lazy"  class="aboutarea__3__img__2" src="/shared/img/about/about_7.png" alt="about">
                <img loading="lazy"  class="aboutarea__3__img__3" src="/shared/img/about/about_9.png" alt="about">
            </div>
        </div>
        <!-- about__section__3__end -->


