        <div class="footerarea">
            <div class="container">
                <div class="footerarea__newsletter__wraper">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" data-aos="fade-up">
                            <div class="footerarea__text">
                                <h3>
                                    به
                                    <span>
                                        پشتیبانی
                                    </span>
                                    نیاز دارید؟
                                </h3>
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ.
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" data-aos="fade-up">
                            <div class="footerarea__newsletter">
                                <div class="footerarea__newsletter__input">
                                    <form action="index.html#">
                                        <input type="text" placeholder="ایمیل خود را وارد کنید">
                                        <div class="footerarea__newsletter__button">
                                            <button type="submit" class="subscribe__btn">
                                              عضو شوید
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>





                <div class="footerarea__wrapper footerarea__wrapper__2">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12" data-aos="fade-up">
                            <div class="footerarea__inner footerarea__about__us">
                                <div class="footerarea__heading">
                                    <h3>
                                     درباره ما
                                    </h3>
                                </div>
                                <div class="footerarea__content">
                                    <p>
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                                    </p>
                                </div>
                                <div class="foter__bottom__text">
                                    <div class="footer__bottom__icon">
                                        <i class="icofont-clock-time"></i>
                                    </div>
                                    <div class="footer__bottom__content">
                                        <h6>
                                           ساعت کاری
                                        </h6>
                                        <span>
                                           شنبه تا چهارشنبه (9 - 17)
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6" data-aos="fade-up">
                            <div class="footerarea__inner">
                                <div class="footerarea__heading">
                                    <h3>
                                       دسترسی سریع
                                    </h3>
                                </div>
                                <div class="footerarea__list">
                                    <ul>
                                        <li>
                                            <a href="index.html#">
                                                لورم ایپسوم
                                            </a>
                                        </li>
                                        <li>
                                            <a href="index.html#">
                                                لورم ایپسوم
                                            </a>
                                        </li>
                                        <li>
                                            <a href="index.html#">
                                                لورم ایپسوم
                                            </a>
                                        </li>
                                        <li>
                                            <a href="index.html#">
                                                لورم ایپسوم
                                            </a>
                                        </li>
                                        <li>
                                            <a href="index.html#">
                                                لورم ایپسوم
                                            </a>
                                        </li>
                                    </ul>
                                </div>


                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6" data-aos="fade-up">
                            <div class="footerarea__inner footerarea__padding__left">
                                <div class="footerarea__heading">
                                    <h3>
                                        لینک‌های مرتبط
                                    </h3>
                                </div>
                                <div class="footerarea__list">
                                    <ul>
                                        <li>
                                            <a href="index.html#">
                                            لورم ایپسوم
                                            </a>
                                        </li>
                                        <li>
                                            <a href="index.html#">
                                              لورم ایپسوم
                                            </a>
                                        </li>
                                        <li>
                                            <a href="index.html#">
                                               لورم ایپسوم
                                            </a>
                                        </li>
                                        <li>
                                            <a href="index.html#">
                                              لورم ایپسوم
                                            </a>
                                        </li>
                                        <li>
                                            <a href="index.html#">
                                               لورم ایپسوم
                                            </a>
                                        </li>
                                    </ul>
                                </div>


                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12" data-aos="fade-up">
                            <div class="footerarea__right__wraper footerarea__inner">
                                <div class="footerarea__heading">
                                    <h3>
                                    مقالات اخیر
                                    </h3>
                                </div>
                                <div class="footerarea__right__list">
                                    <ul>
                                        <li>
                                            <a href="index.html#">
                                                <div class="footerarea__right__img">
                                                    <img loading="lazy"  src="/shared/img/footer/footer__1.png" alt="footerphoto">
                                                </div>
                                                <div class="footerarea__right__content">
                                                    <span>
                                                        10 تیرماه 1404
                                                    </span>
                                                    <h6>
                                                        لورم ایپسوم
                                                    </h6>
                                                </div>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="index.html#">
                                                <div class="footerarea__right__img">
                                                    <img loading="lazy"  src="/shared/img/footer/footer__2.png" alt="footerphoto">
                                                </div>
                                                <div class="footerarea__right__content">
                                                    <span>
                                                        10 تیرماه 1404
                                                    </span>
                                                    <h6>
                                                        لورم ایپسوم
                                                    </h6>
                                                </div>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="index.html#">
                                                <div class="footerarea__right__img">
                                                    <img loading="lazy"  src="/shared/img/footer/footer__3.png" alt="footerphoto">
                                                </div>
                                                <div class="footerarea__right__content">
                                                    <span>
                                                        10 تیرماه 1404
                                                    </span>
                                                    <h6>
                                                        لورم ایپسوم
                                                    </h6>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footerarea__copyright__wrapper footerarea__copyright__wrapper__2">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3">
                            <div class="copyright__logo">
                                <a href="../../html_themewin_default.html"><img loading="lazy"  src="/shared/img/logo/logo_2.png" alt="logo"></a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="footerarea__copyright__content footerarea__copyright__content__2">
                                <p>
                                   تمامی حقوق توسط
                                   <span>
                                       آکادمی
                                   </span> 
                                  محفوظ است.
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3">
                            <div class="footerarea__icon footerarea__icon__2">
                                <ul>
                                    <li><a href="https://facebook.com/"><i class="icofont-facebook"></i></a></li>
                                    <li><a href="https://twitter.com/"><i class="icofont-twitter"></i></a></li>
                                    <li><a href="https://vimeo.com/"><i class="icofont-vimeo"></i></a></li>
                                    <li><a href="https://linkedin.com/"><i class="icofont-linkedin"></i></a></li>
                                    <li><a href="https://skype.com/"><i class="icofont-skype"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>