<!-- topbar__section__stert -->
<div class="topbararea topbararea--2">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="topbar__left">
                    <ul>
                        <li>
                            با ما در تماس باشید : 0912 123 4567
                        </li>
                        <li>
                            - ایمیل ما : test@gmail.com
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="topbar__right">
                    <div class="topbar__icon">
                        <i class="icofont-location-pin"></i>
                    </div>
                    <div class="topbar__text">
                        <p>خیابان شریعتی - خیابان ملک - بن بست ایران‌یاد</p>
                    </div>
                    <div class="topbar__list">
                        <ul>
                            <li>
                                <a href="index.html#"><i class="icofont-facebook"></i></a>
                            </li>
                            <li>
                                <a href="index.html#"><i class="icofont-twitter"></i></a>
                            </li>
                            <li>
                                <a href="index.html#"><i class="icofont-instagram"></i></a>
                            </li>
                            <li>
                                <a href="index.html#"><i class="icofont-youtube-play"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- topbar__section__end -->

<!-- headar section start -->
<header>
    <div class="headerarea headerarea__2 header__sticky header__area">
        <div class="container desktop__menu__wrapper">
            <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-6">
                    <div class="headerarea__left">
                        <div class="headerarea__left__logo">

                            <a href="index.html"><img loading="lazy" src="/shared/img/logo/logo_1.png" alt="logo"></a>
                        </div>

                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 main_menu_wrap">
                    <div class="headerarea__main__menu">
                        <nav>
                            <ul>
                                <li>
                                    <a class="cursor-pointer headerarea__has__dropdown" href="#">
                                        آیتم اول
                                    </a>
                                </li>
                                <li>
                                    <a class="cursor-pointer headerarea__has__dropdown" href="#">
                                        آیتم دوم
                                    </a>
                                </li>
                                <li>
                                    <a class="cursor-pointer headerarea__has__dropdown" href="#">
                                        آیتم سوم
                                    </a>
                                </li>
                                <li>
                                    <a class="cursor-pointer headerarea__has__dropdown" href="#">
                                        آیتم چهارم
                                    </a>
                                </li>
                                @await Component.InvokeAsync("CourseCategory")

                                <li>
                                    <a class="cursor-pointer headerarea__has__dropdown">داشبورد
                                        <i class="icofont-rounded-down"></i>
                                    </a>
                                    <ul class="headerarea__submenu">
                                        <li><a asp-area="Admin" asp-controller="Home" asp-action="Index">ادمین<span class="mega__menu__label">جدید</span></a></li>
                                        <li><a asp-area="MasterPanel" asp-controller="Home" asp-action="Index">اساتید</a></li>
                                        <li><a asp-area="UserPanel" asp-controller="Home" asp-action="Index">کاربران</a></li>

                                    </ul>
                                </li>


                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <div class="headerarea__right">
                        
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="headerarea__login">
                                <a asp-area="" asp-area="" asp-controller="Account" asp-action="Logout">
                                    خروج از حساب کاربری
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="headerarea__login">
                                <a asp-area="" asp-controller="Account" asp-action="LoginOrRegister">
                               ورود / ثبت نام     
                                </a>
                            </div>
                        }
                    </div>
                </div>

            </div>

        </div>


        <div class="container-fluid mob_menu_wrapper">
            <div class="row align-items-center">
                <div class="col-6">
                    <div class="mobile-logo">
                        <a class="logo__dark" href="index.html#"><img loading="lazy" src="/shared/img/logo/logo_1.png"
                                                                      alt="logo"></a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="header-right-wrap">
                        <div class="mobile-off-canvas">
                            <a class="mobile-aside-button" href="index.html#"><i
                                    class="icofont-navigation-menu"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header section end -->

<!-- Mobile Menu Start Here -->
<div class="mobile-off-canvas-active">
    <a class="mobile-aside-close"><i class="icofont  icofont-close-line"></i></a>
    <div class="header-mobile-aside-wrap">
        <div class="mobile-search">
            <form class="search-form" action="index.html#">
                <input type="text" placeholder="Search entire store…">
                <button class="button-search"><i class="icofont icofont-search-2"></i></button>
            </form>
        </div>
        <div class="mobile-menu-wrap headerarea">

            <div class="mobile-navigation">

                <nav>
                    <ul class="mobile-menu">

                        <li>
                            <a href="#">
                                آیتم اول
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                آیتم دوم
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                آیتم سوم
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                آیتم چهارم
                            </a>
                        </li>
                        <li class="menu-item-has-children"><a href="">داشبورد</a>
                            <ul class="dropdown">
                                <li><a asp-area="Admin" asp-controller="Home" asp-action="Index">ادمین<span
                                            class="mega__menu__label">جدید</span></a></li>
                                <li><a asp-area="MasterPanel" asp-controller="Home" asp-action="Index">اساتید</a></li>
                                <li><a asp-area="UserPanel" asp-controller="Home" asp-action="Index">کاربران</a></li>

                            </ul>
                        </li>

                    </ul>
                </nav>

            </div>

        </div>
        <div class="mobile-curr-lang-wrap">
            <!-- <div class="single-mobile-curr-lang">
                        <a class="mobile-currency-active" href="#">Currency <i class="icofont-thin-down"></i></a>
                        <div class="lang-curr-dropdown curr-dropdown-active">
                            <ul>
                                <li><a href="#">USD</a></li>
                                <li><a href="#">EUR</a></li>
                                <li><a href="#">Real</a></li>
                                <li><a href="#">BDT</a></li>
                            </ul>
                        </div>
                    </div> -->

            <div class="single-mobile-curr-lang">
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="mobile-account-active">
                        <a asp-area="" asp-area="" asp-controller="Account" asp-action="Logout">
                            خروج از حساب کاربری
                        </a>
                    </div>
                }
                else
                {
                    <div class="mobile-account-active">
                        <a asp-area="" asp-controller="Account" asp-action="LoginOrRegister">
                            ورود / ثبت نام     
                        </a>
                    </div>
                }
            </div>
        </div>
        <div class="mobile-social-wrap">
            <a class="facebook" href="index.html#"><i class="icofont icofont-facebook"></i></a>
            <a class="twitter" href="index.html#"><i class="icofont icofont-twitter"></i></a>
            <a class="pinterest" href="index.html#"><i class="icofont icofont-pinterest"></i></a>
            <a class="instagram" href="index.html#"><i class="icofont icofont-instagram"></i></a>
            <a class="google" href="index.html#"><i class="icofont icofont-youtube-play"></i></a>
        </div>
    </div>
</div>
<!-- Mobile Menu end Here -->