<!-- Modal Large (XL) -->
<div class="modal fade" id="modal-center-lg" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content shadow rounded-4 overflow-hidden">
            <div class="modal-header d-flex justify-content-between align-items-center bg-primary text-white py-2 px-3">
                <button type="button"
                        class="btn-close btn-close-white ms-auto"
                        data-bs-dismiss="modal"
                        aria-label="بستن">
                </button>
                <h5 class="modal-title mb-0 fw-bold text-white" id="modal-center-lg-title"></h5>
            </div>
            <div class="modal-body px-3 py-4" id="modal-center-lg-body"></div>
        </div>
    </div>
</div>

<!-- Modal Medium (LG) -->
<div class="modal fade" id="modal-center-md" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content shadow rounded-4 overflow-hidden">
            <div class="modal-header d-flex justify-content-between align-items-center bg-primary text-white py-2 px-3">
                <button type="button"
                        class="btn-close btn-close-white ms-auto"
                        data-bs-dismiss="modal"
                        aria-label="بستن">
                </button>
                <h5 class="modal-title mb-0 fw-bold text-white" id="modal-center-md-title"></h5>
            </div>
            <div class="modal-body px-3 py-4" id="modal-center-md-body"></div>
        </div>
    </div>
</div>

<!-- Modal Medium (SM) -->
<div class="modal fade" id="modal-center-sm" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content shadow overflow-hidden rounded-4">
            <div class="modal-header d-flex justify-content-between align-items-center bg-primary text-white py-2 px-3">
                <button type="button"
                        class="btn-close btn-close-white ms-auto"
                        data-bs-dismiss="modal"
                        aria-label="بستن">
                </button>
                <h5 class="modal-title mb-0 fw-bold text-white" id="modal-center-sm-title"></h5>
            </div>
            <div class="modal-body px-3 py-4" id="modal-center-sm-body">
            </div>
        </div>
    </div>
</div>
