<div data-tw-backdrop=""
     aria-hidden="true"
     tabindex="-1"
     id="modal-center-sm"
     class="!overflow-scroll !pb-[100px] modal group bg-gradient-to-b from-theme-1/50 via-theme-2/50 to-black/50 transition-[visibility,opacity] w-screen h-screen fixed left-0 top-0 [&amp;:not(.show)]:duration-[0s,0.2s] [&amp;:not(.show)]:delay-[0.2s,0s] [&amp;:not(.show)]:invisible [&amp;:not(.show)]:opacity-0 [&amp;.show]:visible [&amp;.show]:opacity-100 [&amp;.show]:duration-[0s,0.4s]">
    <div data-tw-merge
         class="w-[90%] mx-auto bg-white relative rounded-md shadow-md transition-[margin-top,transform] duration-[0.4s,0.3s] -mt-16 group-[.show]:mt-16 group-[.modal-static]:scale-[1.05] dark:bg-darkmode-600 sm:w-[460px]">
        <div class="flex items-center px-5 py-3 border-b border-slate-200/60 dark:border-darkmode-400">
            <h2 class="rtl:ml-auto ltr:mr-auto text-base font-medium modal-title">
            </h2>
        </div>
        <div data-tw-merge
             class="p-5" id="modal-center-sm-body">
        </div>
    </div>
</div>

<div data-tw-backdrop=""
     aria-hidden="true"
     tabindex="-1"
     id="modal-center-md"
     class="!overflow-scroll !pb-[100px] modal group bg-gradient-to-b from-theme-1/50 via-theme-2/50 to-black/50 transition-[visibility,opacity] w-screen h-screen fixed left-0 top-0 [&amp;:not(.show)]:duration-[0s,0.2s] [&amp;:not(.show)]:delay-[0.2s,0s] [&amp;:not(.show)]:invisible [&amp;:not(.show)]:opacity-0 [&amp;.show]:visible [&amp;.show]:opacity-100 [&amp;.show]:duration-[0s,0.4s]">
    <div data-tw-merge
         class="w-[90%] mx-auto bg-white relative rounded-md shadow-md transition-[margin-top,transform] duration-[0.4s,0.3s] -mt-16 group-[.show]:mt-16 group-[.modal-static]:scale-[1.05] dark:bg-darkmode-600 sm:w-[600px]">
        <div class="flex items-center px-5 py-3 border-b border-slate-200/60 dark:border-darkmode-400">
            <h2 class="rtl:ml-auto ltr:mr-auto text-base font-medium modal-title">
            </h2>
        </div>
        <div data-tw-merge
             class="p-5" id="modal-center-md-body">
        </div>
    </div>
</div>

<div data-tw-backdrop=""
     aria-hidden="true"
     tabindex="-1"
     id="modal-center-lg"
     class="!overflow-scroll !pb-[100px] modal group bg-gradient-to-b from-theme-1/50 via-theme-2/50 to-black/50 transition-[visibility,opacity] w-screen h-screen fixed left-0 top-0 [&amp;:not(.show)]:duration-[0s,0.2s] [&amp;:not(.show)]:delay-[0.2s,0s] [&amp;:not(.show)]:invisible [&amp;:not(.show)]:opacity-0 [&amp;.show]:visible [&amp;.show]:opacity-100 [&amp;.show]:duration-[0s,0.4s]">
    <div data-tw-merge
         class="w-[90%] mx-auto bg-white relative rounded-md shadow-md transition-[margin-top,transform] duration-[0.4s,0.3s] -mt-16 group-[.show]:mt-16 group-[.modal-static]:scale-[1.05] dark:bg-darkmode-600  lg:!w-[900px]">
        <div class="flex items-center px-5 py-3 border-b border-slate-200/60 dark:border-darkmode-400">
            <h2 class="rtl:ml-auto ltr:mr-auto text-base font-medium modal-title">
            </h2>
        </div>
        <div data-tw-merge
             class="p-5" id="modal-center-lg-body">
        </div>
    </div>
</div>


<div>
    <div data-tw-backdrop="" aria-hidden="true" tabindex="-1" id="modal-left" dir="ltr"
         class="modal group bg-gradient-to-b from-theme-1/50 via-theme-2/50 to-black/50 transition-[visibility,opacity] w-screen h-screen fixed rtl:right-0 ltr:left-0 top-0 [&:not(.show)]:duration-[0s,0.2s] [&:not(.show)]:delay-[0.2s,0s] [&:not(.show)]:invisible [&:not(.show)]:opacity-0 [&.show]:visible [&.show]:opacity-100 [&.show]:duration-[0s,0.4s]">
        <div data-tw-merge=""
             class="rtl:mr-auto ltr:ml-auto h-screen flex flex-col bg-white relative shadow-md rtl:transition-[margin-left] ltr:transition-[margin-right] duration-[0.6s] rtl:-ml-[100%] ltr:-mr-[100%] rtl:group-[.show]:ml-0 ltr:group-[.show]:mr-0 dark:bg-darkmode-600 sm:w-[460px] w-72 rtl:rounded-[0_0.75rem_0.75rem_0/0_1.1rem_1.1rem_0] ltr:rounded-[0.75rem_0_0_0.75rem/1.1rem_0_0_1.1rem]">
            <a class="absolute inset-y-0 rtl:right-0 ltr:left-0 rtl:left-auto ltr:right-auto my-auto rtl:-mr-[60px] ltr:-ml-[60px] flex h-8 w-8 items-center justify-center rounded-full border border-white/90 bg-white/5 text-white/90 transition-all hover:rotate-180 hover:scale-105 hover:bg-white/10 focus:outline-none rtl:sm:-mr-[105px] ltr:sm:-ml-[105px] sm:h-14 sm:w-14"
               data-tw-dismiss="modal" href="javascript:;">
                <i data-tw-merge="" data-lucide="x" class="stroke-[1] h-8 w-8"></i>
            </a>
            <div data-tw-merge=""
                 class="flex items-center border-b border-slate-200/60 dark:border-darkmode-400 px-6 py-5">
                <h2 class="rtl:ml-auto ltr:mr-auto text-base font-medium modal-title"></h2>
            </div>
            <div data-tw-merge="" class="overflow-y-auto flex-1 p-0" id="modal-left-body">
            </div>
        </div>
    </div>
</div>


<div>
    <div data-tw-backdrop="" aria-hidden="true" tabindex="-1" id="modal-right"
         class="modal group bg-gradient-to-b from-theme-1/50 via-theme-2/50 to-black/50 transition-[visibility,opacity] w-screen h-screen fixed left-0 top-0 [&:not(.show)]:duration-[0s,0.2s] [&:not(.show)]:delay-[0.2s,0s] [&:not(.show)]:invisible [&:not(.show)]:opacity-0 [&.show]:visible [&.show]:opacity-100 [&.show]:duration-[0s,0.4s]">
        <div data-tw-merge=""
             class="ml-auto h-screen flex flex-col bg-white relative shadow-md transition-[margin-right] duration-[0.6s] -mr-[100%] group-[.show]:mr-0 dark:bg-darkmode-600 sm:w-[460px] w-72 rounded-[0.75rem_0_0_0.75rem/1.1rem_0_0_1.1rem]">
            <a class="absolute inset-y-0 left-0 right-auto my-auto -ml-[60px] flex h-8 w-8 items-center justify-center rounded-full border border-white/90 bg-white/5 text-white/90 transition-all hover:rotate-180 hover:scale-105 hover:bg-white/10 focus:outline-none sm:-ml-[105px] sm:h-14 sm:w-14"
               data-tw-dismiss="modal" href="javascript:;">
                <i data-tw-merge="" data-lucide="x" class="stroke-[1] h-8 w-8"></i>
            </a>
            <div data-tw-merge=""
                 class="flex items-center border-b border-slate-200/60 dark:border-darkmode-400 px-6 py-5">
                <h2 class="rtl:ml-auto ltr:mr-auto text-base font-medium modal-title"></h2>
            </div>
            <div data-tw-merge="" class="overflow-y-auto flex-1 p-0" id="modal-right-body" >
                
            </div>
        </div>
    </div>
</div>




