<div>
    <div data-tw-backdrop="" aria-hidden="true" tabindex="-1" id="notifications-panel"
         class="modal group bg-gradient-to-b from-theme-1/50 via-theme-2/50 to-black/50 transition-[visibility,opacity] w-screen h-screen fixed rtl:right-0 ltr:left-0 top-0 [&:not(.show)]:duration-[0s,0.2s] [&:not(.show)]:delay-[0.2s,0s] [&:not(.show)]:invisible [&:not(.show)]:opacity-0 [&.show]:visible [&.show]:opacity-100 [&.show]:duration-[0s,0.4s]">
        <div data-tw-merge=""
             class="rtl:mr-auto ltr:ml-auto h-screen flex flex-col bg-white relative shadow-md rtl:transition-[margin-left] ltr:transition-[margin-right] duration-[0.6s] rtl:-ml-[100%] ltr:-mr-[100%] rtl:group-[.show]:ml-0 ltr:group-[.show]:mr-0 dark:bg-darkmode-600 sm:w-[460px] w-72 rtl:rounded-[0_0.75rem_0.75rem_0/0_1.1rem_1.1rem_0] ltr:rounded-[0.75rem_0_0_0.75rem/1.1rem_0_0_1.1rem]">
            <a class="absolute inset-y-0 rtl:right-0 ltr:left-0 rtl:left-auto ltr:right-auto my-auto rtl:-mr-[60px] ltr:-ml-[60px] flex h-8 w-8 items-center justify-center rounded-full border border-white/90 bg-white/5 text-white/90 transition-all hover:rotate-180 hover:scale-105 hover:bg-white/10 focus:outline-none rtl:sm:-mr-[105px] ltr:sm:-ml-[105px] sm:h-14 sm:w-14"
               data-tw-dismiss="modal" href="javascript:;">
                <i data-tw-merge="" data-lucide="x" class="stroke-[1] h-8 w-8"></i>
            </a>
            <div data-tw-merge=""
                 class="flex items-center border-b border-slate-200/60 dark:border-darkmode-400 px-6 py-5">
                <h2 class="rtl:ml-auto ltr:mr-auto text-base font-medium">اطلاعیه‌ها</h2>
                <button data-tw-merge=""
                        class="transition duration-200 border shadow-sm items-center justify-center py-2 px-3 rounded-md font-medium cursor-pointer focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus-visible:outline-none dark:focus:ring-slate-700 dark:focus:ring-opacity-50 [&:hover:not(:disabled)]:bg-opacity-90 [&:hover:not(:disabled)]:border-opacity-90 [&:not(button)]:text-center disabled:opacity-70 disabled:cursor-not-allowed border-secondary text-slate-500 dark:border-darkmode-100/40 dark:text-slate-300 [&:hover:not(:disabled)]:bg-secondary/20 [&:hover:not(:disabled)]:dark:bg-darkmode-100/10 hidden sm:flex">
                    <i data-tw-merge="" data-lucide="shield-check" class="stroke-[1] rtl:ml-2 ltr:mr-2 h-4 w-4"></i>
                    علامت‌گذاری همه به عنوان
                    خوانده
                </button>
            </div>
            <div data-tw-merge="" class="overflow-y-auto flex-1 p-0">
                <div class="flex flex-col gap-0.5 p-3">
                    <a class="flex items-center rounded-xl px-3 py-2.5 hover:bg-slate-100/80" href="#">
                        <div>
                            <div class="image-fit h-11 w-11 overflow-hidden rounded-full border-2 border-slate-200/70">
                                <img src="/admin/images/users/user10-50x50.jpg" alt="تیل وایز - قالب داشبورد مدیریتی">
                            </div>
                        </div>
                        <div class="rtl:sm:mr-5 ltr:sm:ml-5">
                            <div class="font-medium">تصویر پروفایل به‌روزرسانی شد</div>
                            <div class="mt-0.5 text-slate-500">
                                تصویر پروفایل تغییر کرد
                            </div>
                            <div class="my-3.5 w-40 rounded-[0.6rem] border bg-slate-50/80 p-1 sm:w-56">
                                <div class="grid grid-cols-3 overflow-hidden rounded-[0.6rem]">
                                    <div
                                        class="image-fit h-12 cursor-pointer overflow-hidden border border-slate-100 saturate-[.6] hover:saturate-100 sm:h-16">
                                        <img src="/admin/images/projects/project4-400x400.jpg"
                                             alt="تیل وایز - قالب داشبورد مدیریتی">
                                    </div>
                                    <div
                                        class="image-fit h-12 cursor-pointer overflow-hidden border border-slate-100 saturate-[.6] hover:saturate-100 sm:h-16">
                                        <img src="/admin/images/projects/project10-400x400.jpg"
                                             alt="تیل وایز - قالب داشبورد مدیریتی">
                                    </div>
                                    <div
                                        class="image-fit h-12 cursor-pointer overflow-hidden border border-slate-100 saturate-[.6] hover:saturate-100 sm:h-16">
                                        <img src="/admin/images/projects/project1-400x400.jpg"
                                             alt="تیل وایز - قالب داشبورد مدیریتی">
                                    </div>
                                </div>
                            </div>
                            <div class="mt-1.5 text-xs text-slate-500">
                                سه‌شنبه اردیبهشت ۱۴۰۲
                            </div>
                        </div>
                        <div
                            class="rtl:mr-auto ltr:ml-auto h-2 w-2 flex-none rounded-full border border-primary/40 bg-primary/40">
                        </div>
                    </a>
                    <a class="flex items-center rounded-xl px-3 py-2.5 hover:bg-slate-100/80" href="#">
                        <div>
                            <div class="image-fit h-11 w-11 overflow-hidden rounded-full border-2 border-slate-200/70">
                                <img src="/admin/images/users/user10-50x50.jpg" alt="تیل وایز - قالب داشبورد مدیریتی">
                            </div>
                        </div>
                        <div class="rtl:sm:mr-5 ltr:sm:ml-5">
                            <div class="font-medium">5 ایمیل جدید دریافت شده است</div>
                            <div class="mt-0.5 text-slate-500">
                                به‌روزرسانی‌های صندوق دریافت
                            </div>
                            <div class="mt-1.5 text-xs text-slate-500">
                                یکشنبه، دی ۱۴۰۲
                            </div>
                        </div>
                        <div
                            class="rtl:mr-auto ltr:ml-auto h-2 w-2 flex-none rounded-full border border-primary/40 bg-primary/40">
                        </div>
                    </a>
                    <a class="flex items-center rounded-xl px-3 py-2.5 hover:bg-slate-100/80" href="#">
                        <div>
                            <div class="image-fit h-11 w-11 overflow-hidden rounded-full border-2 border-slate-200/70">
                                <img src="/admin/images/users/user10-50x50.jpg" alt="تیل وایز - قالب داشبورد مدیریتی">
                            </div>
                        </div>
                        <div class="rtl:sm:mr-5 ltr:sm:ml-5">
                            <div class="font-medium">فایل‌های ویدئویی بارگذاری شده</div>
                            <div class="mt-0.5 text-slate-500">
                                آموزش‌های ویدئویی به اشتراک گذارده شده
                            </div>
                            <div class="mt-1.5 text-xs text-slate-500">
                                سه‌شنبه فروردین ۱۴۰۲
                            </div>
                        </div>
                        <div
                            class="rtl:mr-auto ltr:ml-auto h-2 w-2 flex-none rounded-full border border-primary/40 bg-primary/40">
                        </div>
                    </a>
                    <a class="flex items-center rounded-xl px-3 py-2.5 hover:bg-slate-100/80" href="#">
                        <div>
                            <div class="image-fit h-11 w-11 overflow-hidden rounded-full border-2 border-slate-200/70">
                                <img src="/admin/images/users/user10-50x50.jpg" alt="تیل وایز - قالب داشبورد مدیریتی">
                            </div>
                        </div>
                        <div class="rtl:sm:mr-5 ltr:sm:ml-5">
                            <div class="font-medium">ضبط‌های صوتی بارگذاری شده</div>
                            <div class="mt-0.5 text-slate-500">
                                قسمت‌های پادکست ضبط شده
                            </div>
                            <div class="mt-1.5 text-xs text-slate-500">
                                یکشنبه مهر ۱۴۰۲
                            </div>
                        </div>
                    </a>
                    <a class="flex items-center rounded-xl px-3 py-2.5 hover:bg-slate-100/80" href="#">
                        <div>
                            <div class="image-fit h-11 w-11 overflow-hidden rounded-full border-2 border-slate-200/70">
                                <img src="/admin/images/users/user10-50x50.jpg" alt="تیل وایز - قالب داشبورد مدیریتی">
                            </div>
                        </div>
                        <div class="rtl:sm:mr-5 ltr:sm:ml-5">
                            <div class="font-medium">وظیفه تکمیل شد: مرور پیشنهاد پروژه</div>
                            <div class="mt-0.5 text-slate-500">
                                بررسی شد و بازخورد داده شد
                            </div>
                            <div class="my-3.5 w-40 rounded-[0.6rem] border bg-slate-50/80 p-1 sm:w-56">
                                <div class="grid grid-cols-3 overflow-hidden rounded-[0.6rem]">
                                    <div
                                        class="image-fit h-12 cursor-pointer overflow-hidden border border-slate-100 saturate-[.6] hover:saturate-100 sm:h-16">
                                        <img src="/admin/images/projects/project1-400x400.jpg"
                                             alt="تیل وایز - قالب داشبورد مدیریتی">
                                    </div>
                                    <div
                                        class="image-fit h-12 cursor-pointer overflow-hidden border border-slate-100 saturate-[.6] hover:saturate-100 sm:h-16">
                                        <img src="/admin/images/projects/project2-400x400.jpg"
                                             alt="تیل وایز - قالب داشبورد مدیریتی">
                                    </div>
                                    <div
                                        class="image-fit h-12 cursor-pointer overflow-hidden border border-slate-100 saturate-[.6] hover:saturate-100 sm:h-16">
                                        <img src="/admin/images/projects/project8-400x400.jpg"
                                             alt="تیل وایز - قالب داشبورد مدیریتی">
                                    </div>
                                </div>
                            </div>
                            <div class="mt-1.5 text-xs text-slate-500">
                                جمعه مرداد ۱۴۰۲
                            </div>
                        </div>
                    </a>
                    <a class="flex items-center rounded-xl px-3 py-2.5 hover:bg-slate-100/80" href="#">
                        <div>
                            <div class="image-fit h-11 w-11 overflow-hidden rounded-full border-2 border-slate-200/70">
                                <img src="/admin/images/users/user10-50x50.jpg" alt="تیل وایز - قالب داشبورد مدیریتی">
                            </div>
                        </div>
                        <div class="rtl:sm:mr-5 ltr:sm:ml-5">
                            <div class="font-medium">فایل‌های کد بارگذاری شدند</div>
                            <div class="mt-0.5 text-slate-500">
                                ماژول‌های کد جدید اضافه شدند
                            </div>
                            <div class="mt-1.5 text-xs text-slate-500">
                                پنج‌شنبه بهمن ۱۴۰۲
                            </div>
                        </div>
                    </a>
                    <a class="flex items-center rounded-xl px-3 py-2.5 hover:bg-slate-100/80" href="#">
                        <div>
                            <div class="image-fit h-11 w-11 overflow-hidden rounded-full border-2 border-slate-200/70">
                                <img src="/admin/images/users/user10-50x50.jpg" alt="تیل وایز - قالب داشبورد مدیریتی">
                            </div>
                        </div>
                        <div class="rtl:sm:mr-5 ltr:sm:ml-5">
                            <div class="font-medium">اسناد بارگذاری شدند</div>
                            <div class="mt-0.5 text-slate-500">
                                اسناد مهم پروژه بارگذاری شدند
                            </div>
                            <div class="mt-1.5 text-xs text-slate-500">
                                شنبه آبان ۱۴۰۲
                            </div>
                        </div>
                        <div
                            class="rtl:mr-auto ltr:ml-auto h-2 w-2 flex-none rounded-full border border-primary/40 bg-primary/40">
                        </div>
                    </a>
                    <a class="flex items-center rounded-xl px-3 py-2.5 hover:bg-slate-100/80" href="#">
                        <div>
                            <div class="image-fit h-11 w-11 overflow-hidden rounded-full border-2 border-slate-200/70">
                                <img src="/admin/images/users/user10-50x50.jpg" alt="تیل وایز - قالب داشبورد مدیریتی">
                            </div>
                        </div>
                        <div class="rtl:sm:mr-5 ltr:sm:ml-5">
                            <div class="font-medium">یک صفحه‌کار بارگذاری شد</div>
                            <div class="mt-0.5 text-slate-500">
                                داده‌های مالی برای فصل سوم اضافه شد
                            </div>
                            <div class="mt-1.5 text-xs text-slate-500">
                                جمعه، دی ۱۳۹۹
                            </div>
                        </div>
                    </a>
                    <a class="flex items-center rounded-xl px-3 py-2.5 hover:bg-slate-100/80" href="#">
                        <div>
                            <div class="image-fit h-11 w-11 overflow-hidden rounded-full border-2 border-slate-200/70">
                                <img src="/admin/images/users/user10-50x50.jpg" alt="تیل وایز - قالب داشبورد مدیریتی">
                            </div>
                        </div>
                        <div class="rtl:sm:mr-5 ltr:sm:ml-5">
                            <div class="font-medium">تماس جدید اضافه شد</div>
                            <div class="mt-0.5 text-slate-500">
                                تماس جدید اضافه شد، سارا
                            </div>
                            <div class="mt-1.5 text-xs text-slate-500">
                                دوشنبه، دسامبر ۲۰۲۱
                            </div>
                        </div>
                        <div
                            class="rtl:mr-auto ltr:ml-auto h-2 w-2 flex-none rounded-full border border-primary/40 bg-primary/40">
                        </div>
                    </a>
                    <a class="flex items-center rounded-xl px-3 py-2.5 hover:bg-slate-100/80" href="#">
                        <div>
                            <div class="image-fit h-11 w-11 overflow-hidden rounded-full border-2 border-slate-200/70">
                                <img src="/admin/images/users/user10-50x50.jpg" alt="تیل وایز - قالب داشبورد مدیریتی">
                            </div>
                        </div>
                        <div class="rtl:sm:mr-5 ltr:sm:ml-5">
                            <div class="font-medium">تصاویر بارگذاری شدند</div>
                            <div class="mt-0.5 text-slate-500">
                                عکس‌های نمایه پروژه اضافه شدند
                            </div>
                            <div class="my-3.5 w-40 rounded-[0.6rem] border bg-slate-50/80 p-1 sm:w-56">
                                <div class="grid grid-cols-3 overflow-hidden rounded-[0.6rem]">
                                    <div
                                        class="image-fit h-12 cursor-pointer overflow-hidden border border-slate-100 saturate-[.6] hover:saturate-100 sm:h-16">
                                        <img src="/admin/images/projects/project2-400x400.jpg"
                                             alt="تیل وایز - قالب داشبورد مدیریتی">
                                    </div>
                                    <div
                                        class="image-fit h-12 cursor-pointer overflow-hidden border border-slate-100 saturate-[.6] hover:saturate-100 sm:h-16">
                                        <img src="/admin/images/projects/project4-400x400.jpg"
                                             alt="تیل وایز - قالب داشبورد مدیریتی">
                                    </div>
                                    <div
                                        class="image-fit h-12 cursor-pointer overflow-hidden border border-slate-100 saturate-[.6] hover:saturate-100 sm:h-16">
                                        <img src="/admin/images/projects/project3-400x400.jpg"
                                             alt="تیل وایز - قالب داشبورد مدیریتی">
                                    </div>
                                </div>
                            </div>
                            <div class="mt-1.5 text-xs text-slate-500">
                                سه‌شنبه مهر ۱۴۰۲
                            </div>
                        </div>
                    </a>
                    <a class="flex items-center rounded-xl px-3 py-2.5 hover:bg-slate-100/80" href="#">
                        <div>
                            <div class="image-fit h-11 w-11 overflow-hidden rounded-full border-2 border-slate-200/70">
                                <img src="/admin/images/users/user10-50x50.jpg" alt="تیل وایز - قالب داشبورد مدیریتی">
                            </div>
                        </div>
                        <div class="rtl:sm:mr-5 ltr:sm:ml-5">
                            <div class="font-medium">وضعیت به‌روزرسانی شد</div>
                            <div class="mt-0.5 text-slate-500">
                                افکار در مورد پروژه به اشتراک گذاشته شد
                            </div>
                            <div class="mt-1.5 text-xs text-slate-500">
                                سه‌شنبه، تیر ۱۴۰۲
                            </div>
                        </div>
                        <div
                            class="rtl:mr-auto ltr:ml-auto h-2 w-2 flex-none rounded-full border border-primary/40 bg-primary/40">
                        </div>
                    </a>
                    <a class="flex items-center rounded-xl px-3 py-2.5 hover:bg-slate-100/80" href="#">
                        <div>
                            <div class="image-fit h-11 w-11 overflow-hidden rounded-full border-2 border-slate-200/70">
                                <img src="/admin/images/users/user10-50x50.jpg" alt="تیل وایز - قالب داشبورد مدیریتی">
                            </div>
                        </div>
                        <div class="rtl:sm:mr-5 ltr:sm:ml-5">
                            <div class="font-medium">یک درخواست دوستی دریافت شد</div>
                            <div class="mt-0.5 text-slate-500">
                                درخواست دوستی از جان دریافت شد
                            </div>
                            <div class="my-3.5 w-40 rounded-[0.6rem] border bg-slate-50/80 p-1 sm:w-56">
                                <div class="grid grid-cols-3 overflow-hidden rounded-[0.6rem]">
                                    <div
                                        class="image-fit h-12 cursor-pointer overflow-hidden border border-slate-100 saturate-[.6] hover:saturate-100 sm:h-16">
                                        <img src="/admin/images/projects/project4-400x400.jpg"
                                             alt="تیل وایز - قالب داشبورد مدیریتی">
                                    </div>
                                    <div
                                        class="image-fit h-12 cursor-pointer overflow-hidden border border-slate-100 saturate-[.6] hover:saturate-100 sm:h-16">
                                        <img src="/admin/images/projects/project5-400x400.jpg"
                                             alt="تیل وایز - قالب داشبورد مدیریتی">
                                    </div>
                                    <div
                                        class="image-fit h-12 cursor-pointer overflow-hidden border border-slate-100 saturate-[.6] hover:saturate-100 sm:h-16">
                                        <img src="/admin/images/projects/project5-400x400.jpg"
                                             alt="تیل وایز - قالب داشبورد مدیریتی">
                                    </div>
                                </div>
                            </div>
                            <div class="mt-1.5 text-xs text-slate-500">
                                شنبه ۹ مرداد
                            </div>
                        </div>
                    </a>
                    <a class="flex items-center rounded-xl px-3 py-2.5 hover:bg-slate-100/80" href="#">
                        <div>
                            <div class="image-fit h-11 w-11 overflow-hidden rounded-full border-2 border-slate-200/70">
                                <img src="/admin/images/users/user10-50x50.jpg" alt="تیل وایز - قالب داشبورد مدیریتی">
                            </div>
                        </div>
                        <div class="rtl:sm:mr-5 ltr:sm:ml-5">
                            <div class="font-medium">با موفقیت وارد شد</div>
                            <div class="mt-0.5 text-slate-500">
                                داشبورد دسترسی داده شد
                            </div>
                            <div class="my-3.5 w-40 rounded-[0.6rem] border bg-slate-50/80 p-1 sm:w-56">
                                <div class="grid grid-cols-3 overflow-hidden rounded-[0.6rem]">
                                    <div
                                        class="image-fit h-12 cursor-pointer overflow-hidden border border-slate-100 saturate-[.6] hover:saturate-100 sm:h-16">
                                        <img src="/admin/images/projects/project5-400x400.jpg"
                                             alt="تیل وایز - قالب داشبورد مدیریتی">
                                    </div>
                                    <div
                                        class="image-fit h-12 cursor-pointer overflow-hidden border border-slate-100 saturate-[.6] hover:saturate-100 sm:h-16">
                                        <img src="/admin/images/projects/project5-400x400.jpg"
                                             alt="تیل وایز - قالب داشبورد مدیریتی">
                                    </div>
                                    <div
                                        class="image-fit h-12 cursor-pointer overflow-hidden border border-slate-100 saturate-[.6] hover:saturate-100 sm:h-16">
                                        <img src="/admin/images/projects/project9-400x400.jpg"
                                             alt="تیل وایز - قالب داشبورد مدیریتی">
                                    </div>
                                </div>
                            </div>
                            <div class="mt-1.5 text-xs text-slate-500">
                                جمعه، اسفند ۱۳۹۸
                            </div>
                        </div>
                        <div
                            class="rtl:mr-auto ltr:ml-auto h-2 w-2 flex-none rounded-full border border-primary/40 bg-primary/40">
                        </div>
                    </a>
                    <a class="flex items-center rounded-xl px-3 py-2.5 hover:bg-slate-100/80" href="#">
                        <div>
                            <div class="image-fit h-11 w-11 overflow-hidden rounded-full border-2 border-slate-200/70">
                                <img src="/admin/images/users/user10-50x50.jpg" alt="تیل وایز - قالب داشبورد مدیریتی">
                            </div>
                        </div>
                        <div class="rtl:sm:mr-5 ltr:sm:ml-5">
                            <div class="font-medium">خروج از حساب</div>
                            <div class="mt-0.5 text-slate-500">
                                از داشبورد خارج شد
                            </div>
                            <div class="my-3.5 w-40 rounded-[0.6rem] border bg-slate-50/80 p-1 sm:w-56">
                                <div class="grid grid-cols-3 overflow-hidden rounded-[0.6rem]">
                                    <div
                                        class="image-fit h-12 cursor-pointer overflow-hidden border border-slate-100 saturate-[.6] hover:saturate-100 sm:h-16">
                                        <img src="/admin/images/projects/project3-400x400.jpg"
                                             alt="تیل وایز - قالب داشبورد مدیریتی">
                                    </div>
                                    <div
                                        class="image-fit h-12 cursor-pointer overflow-hidden border border-slate-100 saturate-[.6] hover:saturate-100 sm:h-16">
                                        <img src="/admin/images/projects/project3-400x400.jpg"
                                             alt="تیل وایز - قالب داشبورد مدیریتی">
                                    </div>
                                    <div
                                        class="image-fit h-12 cursor-pointer overflow-hidden border border-slate-100 saturate-[.6] hover:saturate-100 sm:h-16">
                                        <img src="/admin/images/projects/project5-400x400.jpg"
                                             alt="تیل وایز - قالب داشبورد مدیریتی">
                                    </div>
                                </div>
                            </div>
                            <div class="mt-1.5 text-xs text-slate-500">
                                سه‌شنبه آبان ۱۴۰۰
                            </div>
                        </div>
                    </a>
                    <a class="flex items-center rounded-xl px-3 py-2.5 hover:bg-slate-100/80" href="#">
                        <div>
                            <div class="image-fit h-11 w-11 overflow-hidden rounded-full border-2 border-slate-200/70">
                                <img src="/admin/images/users/user10-50x50.jpg" alt="تیل وایز - قالب داشبورد مدیریتی">
                            </div>
                        </div>
                        <div class="rtl:sm:mr-5 ltr:sm:ml-5">
                            <div class="font-medium">ارائه‌ها بارگذاری شدند</div>
                            <div class="mt-0.5 text-slate-500">
                                اسلایدهای جلسه تیم اضافه شدند
                            </div>
                            <div class="mt-1.5 text-xs text-slate-500">
                                چهارشنبه مرداد ۱۳۹۷
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>