@model Academy.Domain.ViewModels.User.Account.ForgotPasswordViewModel


@{
    ViewData["Title"] = "فراموشی رمز عبور";
}

@section Breadcrumb
{
    <breadcrumb page-title="@ViewData["Title"]">
        <breadcrumb-item last-active-item="true">@ViewData["Title"]</breadcrumb-item>
    </breadcrumb>
}

<div class="loginarea sp_top_100 sp_bottom_100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="tab-content tab__content__wrapper" id="myTabContent" data-aos="fade-up">
                <div class="tab-pane fade active show" id="projects__one" role="tabpanel"
                     aria-labelledby="projects__one">
                    <div class="col-xl-8 col-md-8 offset-md-2 mx-auto">
                        <div class="loginarea__wraper">
                            <form asp-area="" asp-controller="Account"
                                  asp-action="ForgotPassword"
                                  method="post">
                                <div class="col-xl-12">
                                <div class="login__form">
                                    <label class="align-items-center d-flex justify-content-center">تلفن همراه یا ایمیل</label>
                                    <input asp-for="MobileOrEmail" class="common__login__input" type="text" autocomplete="new-mobile"
                                           placeholder="تلفن همراه یا ایمیل خود را وارد کنید...">
                                    <validation-span asp-validation-for="MobileOrEmail"/>
                                </div>
                                </div>

                                <div class="login__button mt-4 text-center">
                                    <div class="justify-content-center">
                                        <button type="submit" class="default__button">ارسال کد تایید</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class=" login__shape__img educationarea__shape_image">
            <img loading="lazy" class="hero__shape hero__shape__1" src="/shared/img/education/hero_shape2.png"
                 alt="Shape">
            <img loading="lazy" class="hero__shape hero__shape__2" src="/shared/img/education/hero_shape3.png"
                 alt="Shape">
            <img loading="lazy" class="hero__shape hero__shape__3" src="/shared/img/education/hero_shape4.png"
                 alt="Shape">
            <img loading="lazy" class="hero__shape hero__shape__4" src="/shared/img/education/hero_shape5.png"
                 alt="Shape">
        </div>
        
    </div>
</div>
